

<div class="profile-banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://kitt.lewagon.com/placeholder/cities/<%= flat.city_slug %>'); background-position: center;">
</div>

<div class="container">
  <div class="row">
    <div class="flat-info col-sm-12 col-md-5 col-md-offset-1 col-lg-4">
      <div class="flat-owner">
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{owner}", class: "avatar text-center" %>
        <%= owner.capitalize %>
      </div>
      <div class="flat-details">
        <h4><%= flat.name %></h4>
        <p><%= flat.city_name %></p>
        <div class="flexing">
          <% flat.rating.times do %>
            <i class="fa fa-star" style="color: #ffb400"></i>
          <% end %>
          <% (5-flat.rating).times do %>
            <i class="fa fa-star" style="color: #999999"></i>
          <% end %>
        </div>
      </div>
    </div>
    <div class="booking-form col-sm-12 col-md-6 col-md-offset-6 col-lg-4">
      <h1>Booking</h1>
      <form>
          <div class="col-xs-6">
            <div class="form-group">
              <label for="check-in">Check-in</label>
              <input type="text" class="form-control" id="Check-in" placeholder="<%= Date.today %> ">
            </div>
          </div>

          <div class="col-xs-6">
            <div class="form-group">
              <label for="check-out">Check-out</label>
              <input type="text" class="form-control" id="check-out" placeholder="<%= Date.today + 2 %>">
            </div>
          </div>
          <div class="col-xs-12">
            <div class="form-group">
              <label for="guest-num">Number of guests</label>
                <select name="guest-num" class="form-control">
                  <option value="1-guest">1 guest</option>
                  <option value="2-guests">2 guests</option>
                  <option value="3-guests">3 guests</option>
                </select>
            </div>
          </div>
          <div>
            <div class="col-xs-12">
              <div class="form-group">
                  <input type="submit" class="btn btn-default form-button">
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
